/* Article */
main {
  padding: 20px;
  overflow: auto;
  min-height: 100vh;
}

main > h1,
p,
.article {
  margin: 10px;
  padding: 5px;
}

.article {
  background: white;
}

.article > h2,
p {
  margin: 4px;
  font-size: 90%;
}

main section article img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px 8px 0px 0px;
}

main section article h1.detail-heading1 {
  margin: 10px;
}

main a,
main button {
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 8px;
  cursor: pointer;
}

main a.link {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

main a.link:hover {
  background-color: #4caf50;
  color: white;
}

main .button {
  background-color: white;
  color: black;
  border: 2px solid #009fbd;
}

main .button:hover {
  background-color: #009fbd;
  color: white;
}

main .detail-button {
  margin: 10px;
}
