/* Aside */
aside {
  width: 25%;
  float: right;
  padding-left: 20px;
  font-style: italic;
  background-origin: lightgray;
}

img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px 8px 0px 0px;
}
