* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#content {
  float: left;
  width: 75%;
}

/* Responsive Desktop */
@media screen and (max-width: 1000px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 950px) {
  #content {
    margin-bottom: 8px;
  }
}
